body
  font-size 13px

footer.footer
  font-size 13px

.hero-head
  header.nav
    .nav-left
      flex-basis 200px
    .container
      padding-right 20px

.img.img-brand
  width 144px
  height 40px
  background embedurl('../static/Apiours.svg', 'utf-8')
  background-size 144px 40px
  background-position 0 0
  background-repeat no-repeat
